* {
    margin: 0;
    padding: 0;
  }

  .container {
    border: 2px solid #a1b4c5;
    background-color: #b6d0ff;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    border-radius: 25px;
  }